@model WebApplicat.Models.CodeFirst.BlogPost
@using WebApplicat.Models.CodeFirst
@{
    ViewBag.Title = "Details";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*// BLOG POST START //*@


<br/>
<br/>
	<section class="post">
		<h3>@Html.DisplayFor(model => model.Title)</h3>
		<div class="info-panel clearfix">
			<span class="pull-left"><time datetime=""><i class="icon-calendar "> </i>@Html.DisplayFor(model => model.Created)</time></span>
			<span class="pull-right"><i class="icon-user"></i> By Alan Cravey </span>
		</div>
		<p>
			@Html.DisplayFor(model => model.Body)
		</p>
	    

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.ActionLink("Back to List", "Index")

        <br/>

	    @using (Html.BeginForm("CreateComment", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
                       
             <input type="hidden" name="PostId" value="@Model.Id"/>

            
             
            <input type="text" name="Body"/>
            <button type="submit">Submit Comment</button>

        }

        <br/>

	    @foreach (var item in Model.Comments)
        {
            @item.Created
            @item.Body
            <br/>
            @*@Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id })
            @Html.ActionLink("Back to List", "Index")*@
            @*@Html.ActionLink("Delete", "Comments", new { id=item.Id })*@
            
            @*<a class="btn btn-readmore" href='@Url.Action("Edit", "Comments", new { id = item.Id })'>Edit Comment</a>*@


            <br/>

        }

        @Html.ActionLink("Manage Comments", "Index", "Comments")


	</section>


    















































