@model IPagedList<WebApplicat.Models.CodeFirst.BlogPost>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">


@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            @*<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>*@
            <a class="brand goTop" href="#">Alan</a>
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a href="@Url.Action("Home", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "BlogPosts")">Blog</a></li>
             
                    <li>
                        @Html.Partial("_LoginPartial")

                       

                    </li>

                </ul>


            </div>

        </div>

    </div>
</div>
@*<div class="parallax" @*style="background-image: url('../../images/bg1.jpg');">*@
    <div class="text">
        <h1></h1>
        <p></p>
    </div>

<section class="text-block">
    <div class="light-bg"/>
    <div class="container">
        <h2 class="with-border">Blog
            <small class="color"></small>
        </h2>
        <div class="row-fluid">
            <div class="span3">
                <form class="form">
                    <div class="controls controls-row search-row">
                         @using (Html.BeginForm())
{
    using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, new {enctype = "Multipart/form-data"}))
    {

        <input type="text" placeholder="Search for something..." name="searchStr" class="input-block-level">
               <input type="submit" value="        GO!" style="background-color: teal; color: white; align-content: center; font-weight: bold;" class="" />
    }

}
                    </div>
                </form>
                
            </div>
            
        </div>
    </div>


</section>










<p style="font-weight: bold">
    @Html.ActionLink("Create New Post", "Create")
</p>

@*// BLOG POST START //*@


@foreach (var item in Model)
{
    <section class="post">
        <h1>@Html.DisplayFor(modelItem => item.MediaURL)</h1><br/>
        <h3><a href="@Url.Action("Details",new {id = item.Id})">@Html.DisplayFor(modelItem => item.Title)</a></h3>
        <div class="info-panel clearfix">
            <span class="pull-left"><time datetime=""><i class="icon-calendar "></i>@Html.DisplayFor(modelItem => item.Created)</time></span>
            <span class="pull-right"><i class="icon-user"></i> By Alan Cravey </span>
        </div>
        <p>
            @Html.DisplayFor(modelItem => item.Body)
        </p>
        @*<a class="btn pull-right" href="#">Read more</a>*@
        
            @Html.ActionLink("Edit", "Edit", "Comments") |
             |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </section>
}


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))






	
            
           
        
        <a class="goTop goTop-link"><i class="icon-angle-up"></i></a>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/placeholder.js"></script>
        <script src="~/js/jquery.colorbox-min.js"></script>
        <script src="~/js/main.js"></script>
    
